/*
 * GLOBALS
 **********************************/
/*
 * GENERAL
 **********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

/*
 * FRAMEWORK
 **********************************/
.container {
  width: 1220px;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.content-wrapper {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 20px; }

.jumpbar {
  height: 100%;
  text-align: right;
  margin-top: 40px; }
  .jumpbar ul {
    color: #777;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    font-size: .8em; }
    .jumpbar ul .active {
      color: #333; }
    .jumpbar ul li {
      padding-bottom: 8px; }

.site-header {
  position: fixed;
  width: 100%;
  height: 41px;
  top: 0;
  z-index: 10000;
  background-color: #efefef;
  border-bottom: 1px solid #dfdfdf; }

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  z-index: 100;
  height: 100%;
  background-color: #7093E8;
  z-index: 10001;
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black; }

/*
 * COMPONENTS
 **********************************/
.logo {
  width: 300px; }

.message-wrapper {
  width: 50%;
  padding-right: 40px;
  padding-bottom: 40px; }

.active {
  width: 100% !important;
  z-index: 1000;
  left: 0 !important; }

.message {
  background: #999;
  height: 100%; }

.shadowbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 3, 0.8);
  z-index: 999; }

/*
 * TESTING SHIT
 **********************************/
.test1 {
  height: 400px; }

.test2 {
  height: 350px; }

.test3 {
  height: 300px; }
