/*
 * GLOBALS AND MIXINS
 **********************************/
/*
 * GENERAL
 **********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

/*
 * FRAMEWORK
 **********************************/
.container {
  width: 1220px;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.content-wrapper {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 20px; }

.jumpbar {
  height: 100%;
  text-align: right;
  margin-top: 40px; }
  .jumpbar ul {
    color: #777;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    font-size: .8em; }
    .jumpbar ul .active {
      color: #0088cc; }
    .jumpbar ul li {
      padding-bottom: 8px; }

.site-header {
  position: fixed;
  width: 100%;
  height: 41px;
  top: 0;
  z-index: 10000;
  background-color: #efefef;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 -10px 25px black;
  -moz-box-shadow: 0 -10px 25px black;
  box-shadow: 0 -10px 25px black; }

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  z-index: 100;
  height: 100%;
  background-color: #7093E8;
  z-index: 10001;
  -webkit-box-shadow: -5px 0 25px black;
  -moz-box-shadow: -5px 0 25px black;
  box-shadow: -5px 0 25px black; }

/*
 * COMPONENTS
 **********************************/
.logo {
  width: 200px; }
  .logo div a {
    border-bottom: none !important; }

.message-wrapper {
  width: 50%;
  padding-right: 40px;
  padding-bottom: 40px; }

.active {
  width: 100% !important;
  z-index: 1000;
  left: 0 !important; }

.message {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #dfdfdf;
  background-color: #efefef;
  height: 100%; }
  .message header {
    position: relative;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 15px; }
    .message header .header-row {
      overflow: auto; }
  .message footer {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px; }
  .message .avatar {
    display: inline-block; }
    .message .avatar img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 75px; }
  .message .to-from {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 15px;
    margin-bottom: 15px; }
    .message .to-from span {
      font-size: .75em; }
  .message .timestamp {
    font-size: .8em;
    color: #777; }
  .message .content {
    padding: 25px;
    border-bottom: 1px solid #dfdfdf;
    font-size: .95em;
    line-height: 1.35em; }

.shadowbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 3, 0.8);
  z-index: 999; }

/*
 * TESTING SHIT
 **********************************/
.test1 {
  height: 400px; }

.test2 {
  height: 350px; }

.test3 {
  height: 300px; }
