/*
 * GLOBALS AND MIXINS
 **********************************/
/*
 * GENERAL
 **********************************/
/* line 18, ../../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../../sass/style.scss */
html, body {
  height: 100%;
}

/*
 * FRAMEWORK
 **********************************/
/* line 32, ../../sass/style.scss */
.container {
  width: 1220px;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 45, ../../sass/style.scss */
.content-wrapper {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

/* line 54, ../../sass/style.scss */
.jumpbar {
  height: 100%;
  text-align: right;
  margin-top: 40px;
}
/* line 60, ../../sass/style.scss */
.jumpbar ul {
  color: #777;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  font-size: .8em;
}
/* line 67, ../../sass/style.scss */
.jumpbar ul .active {
  color: #0088cc;
}
/* line 71, ../../sass/style.scss */
.jumpbar ul li {
  padding-bottom: 8px;
}

/* line 77, ../../sass/style.scss */
.site-header {
  position: fixed;
  width: 100%;
  height: 41px;
  top: 0;
  z-index: 10000;
  background-color: #efefef;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 -10px 25px black;
  -moz-box-shadow: 0 -10px 25px black;
  box-shadow: 0 -10px 25px black;
}

/* line 91, ../../sass/style.scss */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  z-index: 100;
  height: 100%;
  background-color: #7093E8;
  z-index: 10001;
  -webkit-box-shadow: -5px 0 25px black;
  -moz-box-shadow: -5px 0 25px black;
  box-shadow: -5px 0 25px black;
}

/*
 * COMPONENTS
 **********************************/
/* line 110, ../../sass/style.scss */
.logo {
  width: 200px;
}
/* line 114, ../../sass/style.scss */
.logo div a {
  border-bottom: none !important;
}

/* line 119, ../../sass/style.scss */
.message-wrapper {
  padding-right: 40px;
  padding-bottom: 40px;
}

/* line 124, ../../sass/style.scss */
.active {
  width: 100% !important;
  z-index: 1000;
  left: 0 !important;
}

/* line 130, ../../sass/style.scss */
.message {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #dfdfdf;
  background-color: #efefef;
  height: 100%;
}
/* line 136, ../../sass/style.scss */
.message header {
  position: relative;
  display: block;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}
/* line 145, ../../sass/style.scss */
.message header .header-row {
  overflow: auto;
}
/* line 150, ../../sass/style.scss */
.message footer {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 159, ../../sass/style.scss */
.message .avatar {
  display: inline-block;
}
/* line 162, ../../sass/style.scss */
.message .avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
/* line 169, ../../sass/style.scss */
.message .to-from {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 15px;
  margin-bottom: 15px;
}
/* line 177, ../../sass/style.scss */
.message .to-from span {
  font-size: .75em;
}
/* line 182, ../../sass/style.scss */
.message .timestamp {
  font-size: .8em;
  color: #777;
}
/* line 187, ../../sass/style.scss */
.message .message-body {
  padding: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-size: .95em;
  line-height: 1.35em;
}
/* line 194, ../../sass/style.scss */
.message .content {
  display: none;
}

/* line 200, ../../sass/style.scss */
.shadowbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 3, 0.8);
  z-index: 999;
}

/*
  Group View
*/
/* line 214, ../../sass/style.scss */
.group-view {
  width: 400px;
  margin: 10px auto;
  transition: width 0.1s ease-out;
}

/* line 220, ../../sass/style.scss */
.group-header {
  font-weight: 300;
  background-color: #3b53ff;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: left;
}

/* line 229, ../../sass/style.scss */
.group-name {
  display: inline-block;
  font-size: 20px;
}

/* line 233, ../../sass/style.scss */
.group-unread-count {
  display: inline-block;
  padding-left: 20px;
  float: right;
}

/* line 239, ../../sass/style.scss */
.expanded-group {
  width: 650px;
  transition: width 0.1s cubic-bezier(0.1, 0.1, 0, 1);
}

/*
  Animations
*/
/*
 * TESTING SHIT
 **********************************/
/* line 253, ../../sass/style.scss */
.test1 {
  height: 400px;
}

/* line 257, ../../sass/style.scss */
.test2 {
  height: 350px;
}

/* line 261, ../../sass/style.scss */
.test3 {
  height: 300px;
}
