/*
 * GLOBALS AND MIXINS
 **********************************/
/*
 * GENERAL
 **********************************/
/* line 18, ../../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../../sass/style.scss */
html, body {
  height: 100%;
}

/*
 * FRAMEWORK
 **********************************/
/* line 32, ../../sass/style.scss */
.container {
  width: 1140px;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 44, ../../sass/style.scss */
.content-wrapper {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

/* line 53, ../../sass/style.scss */
.site-header {
  position: fixed;
  width: 100%;
  height: 41px;
  top: 0;
  z-index: 10000;
  background-color: #efefef;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 -10px 25px black;
  -moz-box-shadow: 0 -10px 25px black;
  box-shadow: 0 -10px 25px black;
}

/* line 67, ../../sass/style.scss */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  z-index: 100;
  height: 100%;
  background-color: #7093E8;
  z-index: 10001;
  -webkit-box-shadow: -5px 0 25px black;
  -moz-box-shadow: -5px 0 25px black;
  box-shadow: -5px 0 25px black;
}

/*
 * COMPONENTS
 **********************************/
/* line 86, ../../sass/style.scss */
.logo {
  width: 200px;
}
/* line 90, ../../sass/style.scss */
.logo div a {
  border-bottom: none !important;
}

/* line 95, ../../sass/style.scss */
.avatar {
  display: inline-block;
}
/* line 98, ../../sass/style.scss */
.avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid #666666;
}

/* line 106, ../../sass/style.scss */
.message-wrapper {
  padding-right: 40px;
  padding-bottom: 40px;
  text-align: left;
}
/* line 111, ../../sass/style.scss */
.message-wrapper .close {
  display: none;
  position: absolute;
  top: 15px;
  right: 62px;
  border: 2px solid #333;
  color: #333;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding-left: 5px;
  padding-top: 0px;
  z-index: 9999;
}
/* line 126, ../../sass/style.scss */
.message-wrapper .close:hover {
  color: #ccc;
  border: 2px solid #ccc;
}
/* line 132, ../../sass/style.scss */
.message-wrapper .comments {
  display: none;
  background: white;
  height: 100%;
  overflow-y: scroll;
}
/* line 138, ../../sass/style.scss */
.message-wrapper .comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 144, ../../sass/style.scss */
.message-wrapper .comments .comment {
  border-bottom: 1px solid #dfdfdf;
}
/* line 147, ../../sass/style.scss */
.message-wrapper .comments .comment header {
  position: relative;
  display: block;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}
/* line 155, ../../sass/style.scss */
.message-wrapper .comments .comment .comment-from-info {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  position: absolute;
  top: 45px;
  left: 100px;
}
/* line 167, ../../sass/style.scss */
.message-wrapper .comments .comment .comment-from {
  font-size: 1.5em;
}
/* line 170, ../../sass/style.scss */
.message-wrapper .comments .comment .comment-timestamp {
  font-size: .75em;
}
/* line 174, ../../sass/style.scss */
.message-wrapper .comments .comment .comment-body {
  padding: 25px;
}
/* line 178, ../../sass/style.scss */
.message-wrapper .comments .comment .comment-meta {
  padding-bottom: 25px;
  padding-left: 25px;
}
/* line 188, ../../sass/style.scss */
.message-wrapper .message {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #dfdfdf;
  background-color: #efefef;
  height: 100%;
  text-align: left;
}
/* line 196, ../../sass/style.scss */
.message-wrapper .message header {
  position: relative;
  display: block;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}
/* line 205, ../../sass/style.scss */
.message-wrapper .message header .header-row {
  overflow: auto;
}
/* line 210, ../../sass/style.scss */
.message-wrapper .message footer {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 219, ../../sass/style.scss */
.message-wrapper .message .to-from {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 15px;
  margin-bottom: 15px;
}
/* line 227, ../../sass/style.scss */
.message-wrapper .message .to-from span {
  font-size: .75em;
}
/* line 232, ../../sass/style.scss */
.message-wrapper .message .timestamp {
  font-size: .8em;
  color: #777;
}
/* line 237, ../../sass/style.scss */
.message-wrapper .message .message-body {
  padding: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-size: .95em;
  line-height: 1.35em;
}
/* line 244, ../../sass/style.scss */
.message-wrapper .message .content {
  display: none;
}

/* line 251, ../../sass/style.scss */
.active {
  width: 100% !important;
  z-index: 1000;
  left: 0 !important;
}
/* line 256, ../../sass/style.scss */
.active .message, .active .comments {
  width: 50%;
  display: inline-block;
  float: left;
}
/* line 262, ../../sass/style.scss */
.active .message-body {
  padding-right: 40px;
}

/* line 269, ../../sass/style.scss */
.shadowbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 3, 0.8);
  z-index: 999;
}

/*
  Group View
*/
/* line 282, ../../sass/style.scss */
.group-view {
  width: 400px;
  margin: 10px auto;
  animation: grow;
}

/* line 288, ../../sass/style.scss */
.group-header {
  font-weight: 300;
  background-color: #3b53ff;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: left;
}

/* line 297, ../../sass/style.scss */
.group-name {
  display: inline-block;
  font-size: 20px;
}

/* line 301, ../../sass/style.scss */
.group-unread-count {
  display: inline-block;
  padding-left: 20px;
  float: right;
}

/* line 307, ../../sass/style.scss */
.expanded-group {
  width: 650px;
}

/*
  Animations
*/
@keyframes grow {}
/*
 * TESTING SHIT
 **********************************/
/* line 323, ../../sass/style.scss */
.test1 {
  height: 400px;
}

/* line 327, ../../sass/style.scss */
.test2 {
  height: 350px;
}

/* line 331, ../../sass/style.scss */
.test3 {
  height: 300px;
}
